@model TicariOtomasyon.Models.Class.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    <!-- Product section-->
    <section>
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                @foreach (var item in Model.Val1)
                {
                    <div class="col-md-6"><img class="card-img-top" style="width:400px;height:700px" src="@item.ProductImage" alt="..." /></div>
                    <div class="col-md-6">

                        <div class="small mb-1">@item.ProductName</div>
                        <h1 class="display-5 fw-bolder">@item.ProductBrand - @item.ProductName</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">Alış Fiyatı : @item.PurchasePrice  TL</span>
                            <br />
                            <span> Satış Fiyatı : @item.SalePrice TL</span>
                        </div>

                        @foreach (var x in Model.Val2)
                        {
                            <p>
                                @x.ProductDescription
                            </p>
                        }
                        <br />
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <a class="btn btn-outline-danger flex-shrink-0" type="button" href="/Product/ProductList">
                                <i class="bi-cart-fill me-1"></i>
                                Satış Listesi
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Related items section-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="  ~/WebLayout/startbootstrap-shop-item-gh-pages/js/scripts.js"></script>
</body>
</html>

