@model TicariOtomasyon.Models.Class.Product

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Ürün Ekle</h2>

<hr />
<br />

<form class="form-group" method="post">
    <label>Ürün Adı</label>
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <label>Marka</label>
    @Html.TextBoxFor(x => x.ProductBrand, new { @class = "form-control" })
    <label>Stok</label>
    @Html.TextBoxFor(x => x.ProductStock, new { @class = "form-control" })
    <label>Alış Fiyat</label>
    @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control" })
    <label>Satış Fiyat</label>
    @Html.TextBoxFor(x => x.SalePrice, new { @class = "form-control" })
    <label>Kategori</label>
    @Html.DropDownListFor(x => x.CategoriesID, (List<SelectListItem>)ViewBag.val1, new { @class = "form-control" })
    <label>Görsel</label>
    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
    <label>Durum</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })




    <button class="btn btn-primary" style="margin-top:15px">Kategori Ekle</button>
</form>
