@using TicariOtomasyon.Models.Class
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Listesi </h2>



@foreach (var item in Model)
{
    <div class="card shadow float-left mr-3 mb-3" style="width:14rem;">
        <div class="card-header py-3">
            <span class="m-0 font-weight-bold text-primary"> @item.ProductName</span>
        </div>
        <img class="card-img-top" src="@item.ProductImage" alt="Card image cap">

        <div class="card-body">
            <h5 class="card-title"> @item.ProductBrand</h5>
            <p> Kategori : @item.Categories.CategoriesName </p>
            <p> Alış Fiyat : @item.PurchasePrice </p>
            <p> Satış Fiyat : @item.SalePrice </p>
            <p> Stok  : @item.ProductStock </p>
             <a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a>

            <a href="/Product/GetProduct/@item.ProductID" class="btn btn-warning btn-icon-split ">
                <span class="icon ">
                    <i class="fas fa-edit"></i>
                </span>
                <span class="text">Düzenle</span>
            </a>
        </div>


    </div>
}
<table class="table table-bordered">
</table>
<a href="/Product/AddProduct/" class="btn btn-outline-primary">Yeni Ürün Ekle</a>
