@using TicariOtomasyon.Models.Class
@model List<Sales>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Satışlar</h2>

<br />


<table class="table table-bordered" style="margin-top:20px;  margin-right:20px;">
    <tr>
        <th>Ürün</th>
        <th>Alan Müşteri</th>
        <th>Satış Yapan Personel</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Products.ProductName </td>
            <td>@item.Currents.CurrentName @item.Currents.CurrentSurname</td>
            <td>@item.Employees.EmployeeName @item.Employees.EmployeeSurname</td>
            <td>@item.Piece</td>
            <td>@item.Price</td>
            <td>@item.TotalPrice</td>
            <td>@item.Date</td>

            <td><a href="/Sales/FindSales/@item.SalesID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Sales/SalesDet/@item.SalesID" class="btn btn-default" style="background-color:teal; color : white" ,>Detaylar</a></td>
        </tr>
    }

</table>

<a href="/Sales/AddSales/" class="btn btn-outline-primary">Yeni Satış Ekle</a>



